.set-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.set-player__player-name {
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    max-width: 100px;
}

/* .set-player__player-color {
    border-radius: 50px;
    width: 50px;
    background-color: black;
} */